# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [1]:
def sum_list(lst):
    total = 0
    for i in range(len(lst)):
        total = total + lst[i]
    return total

In [2]:
#example1 usage
lst = [1,2,3,4,5]
sum_list(lst)

15

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [3]:
def find_max(x):
    max_value = x[0]
    for i in range(len(x)):
        if x[i] > max_value:
            max_value = x[i]
    return max_value

In [5]:
x = [3,5,1,9,2]
find_max(x)

9

In [10]:
x = [10, 22, 5, 8]
find_max(x)

22

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [7]:
def find_min(x):
    min_val = x[0]
    for i in range(len(x)):
        if x[i] < min_val:
            min_val = x[i]
    return min_val

In [8]:
#Example1 usage
x = [4, 7, 1, 9]
find_min(x)

1

In [9]:
#example 2 usage
x2 = [10, 15, 3, 8]
find_min(x2)

3

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [11]:
def reverse_list(x):
    reverse = x[::-1]
    return reverse

In [12]:
#Example1 usage
x1 = [1,2,3,4,5]
reverse_list(x1)

[5, 4, 3, 2, 1]

In [14]:
#Example2 Usage
x2 = ["a", "b"]
reverse_list(x2)

['b', 'a']

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [15]:
def is_palindromic(x):
    y = x[::-1]
    if y == x:
        print("True!, list is same forward abd backward")
    else:
        print("False!, list in not same forward and backward")
    return x, y

In [16]:
#Example1 usage
x = [1,2,3,2,1]
is_palindromic(x)

True!, list is same forward abd backward

([1, 2, 3, 2, 1], [1, 2, 3, 2, 1])

In [17]:
y = [1, 2, 3, 4, 5]
is_palindromic(y)

False!, list in not same forward and backward

([1, 2, 3, 4, 5], [5, 4, 3, 2, 1])

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [24]:
def count_freq(x):
    freq = {}
    for element in x:
        if element in freq:
            freq[element] += 1
        else:
            freq[element] = 1
    return freq

In [25]:
#example 1 usage
x = [1,2,2,3,3,3]
count_freq(x)

{1: 1, 2: 2, 3: 3}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [28]:
def second_largest(x):
    largest = x[0]
    second_largest = 0
    for i in range(len(x)):
        if x[i] > largest:
            second_largest = largest
            largest = x[i]
       # elif x[i] > second_largest and x[i] != largest:
        #    second_largest = x[i] 
    return second_largest

In [29]:
#Example 1 usage:
x = [10, 20, 4, 45, 99]
second_largest(x)

45

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [42]:
def merge_list(x1, x2):
    merge_list = x1 + x2 
    return merge_list

In [43]:
x1 = [1,3,5]
x2 = [2,4,6]
merge_list(x1, x2)

[1, 3, 5, 2, 4, 6]

In [44]:
x1 + x2

[1, 3, 5, 2, 4, 6]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [39]:
def remove_duplicate(x):
    unique = []
    for element in x:
        if element not in unique:
            unique.append(element)
    return unique

In [40]:
len

In [42]:
x = ["a", "b", "a", "c", "c", "d"]
print(remove_duplicate(x))
x1 = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicate(x1))

['a', 'b', 'c', 'd']
[1, 2, 3, 4, 5]

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [68]:
def rightrotate_list(ls, k):
    output = []
    for i in range(len(ls)-k, len(ls)):
        output.append(ls[i])
    for i in range(0, len(ls)-k):
        output.append(ls[i])
    return output

In [69]:
#Example 1 
ls = [1,2,3,4,5]
k = 2
rightrotate_list(ls, k)

[4, 5, 1, 2, 3]

In [70]:
#Example 2 
ls = [10, 20, 30, 40, 50]
k = 3
rightrotate_list(ls, k)

[30, 40, 50, 10, 20]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [48]:
def common_elements(l1, l2):
    com = []
    for element in l1:
        if element in l2:
            com.append(element)
    return com

In [49]:
l1 = [1, 2, 3, 4] 
l2 = [3, 4, 5, 6]
common_elements(l1, l2)

[3, 4]

In [50]:
#Example2 usage
l1 = ["apple", "banana", "cherry"]
l2 = ["banana", "cherry", "date"]
common_elements(l1, l2)

['banana', 'cherry']

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [51]:
def list_union(l1, l2):
    l3 = l1+ l2
    return l3

In [52]:
#Example 1
l1 = [1,2,3]
l2 = [3,4,5]
list_union(l1, l2)

[1, 2, 3, 3, 4, 5]

In [53]:
#Example2
l1= ["a", "b", "c"]
l2 = ["b", "c", "d"]
list_union(l1, l2)

['a', 'b', 'c', 'b', 'c', 'd']

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [54]:
def list_difference(l1, l2):
    diff = []
    for element in l1:
        if element not in l2:
            diff.append(element)
    return diff

In [56]:
l1 = [1,2,3,4]
l2 = [2,4,6]
list_difference(l1, l2)

[1, 3]

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [63]:
def most_freq(ls):
    freq = {}
    for element in ls:
        if element in freq:
            freq[element] += 1
        else: 
            freq[element] = 1
    max_value = 0
    max_key = None
    for key, value in freq.items():
        if freq[key] > max_value:
            max_value = freq[key]
            max_key = key 
    return max_key

In [64]:
ls = [1, 2, 2, 3, 3, 3]
most_freq(ls)

3

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [79]:
def flatten_list(ls):
    flat_list = []
    for element in ls:
        if type(element) is list:
            for item in element:
                if type(item) is list:
                    for element in item:
                        flat_list.append(element)
                else:
                    flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list

In [80]:
##Example1 Usage
ls = [[1, 2, [3]], 4]
flatten_list(ls)

[1, 2, 3, 4]

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [95]:
x = [1,2,3,4,5]
target_value = 6
y = []

for i in range(len(x)):
    for j in range(i+1, len(x)):
        if x[i] + x[j] == target_value:
            y.append((x[i], x[j]))
print(y)

[(1, 5), (2, 4)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [90]:
def prod_all_element(ls):
    prod = []
    for i in range(len(ls)):
        product = 1
        for j in range(len(ls)):
            if i != j:
                product = product*ls[j]
        prod.append(product)
    return prod

In [91]:
ls = [1,2,3,4]
prod_all_element(ls)

[24, 12, 8, 6]

In [92]:
#Example2 usage:
ls1 = [5,6,7]
prod_all_element(ls1)

[42, 35, 30]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [71]:
def longest_consecutive(ls):
    longest = 0
    num_set = set(ls)
    for item in num_set:
        if (item - 1) not in ls:
            length = 1
            while (item+length) in ls:
                length += 1
            longest = max(length, longest)
    return longest

In [73]:
ls = [100, 4, 200, 1, 3, 2]
longest_consecutive(ls)

4

In [74]:
ls1 = [10, 11, 12, 50, 51, 52]
longest_consecutive(ls1)

3

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [15]:
def is_contains_sublist(l1, sub_list):
    lst = []
    for element in sub_list:
        if element in l1:
            lst.append(element)
        #rint(f"lst:{lst}, sub_list: {sub_list}")
    if lst == sub_list:
        print("True")
    else:
        print("False")

In [16]:
l1 = [10,20,30,40]
sub_list = [20, 50]
is_contains_sublist(l1, sub_list)

False

In [17]:
#example2 usage:
l2 = [1,2,3,4,5]
sub_list = [3,4]
is_contains_sublist(l2, sub_list)

True

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [6]:
def k_largest_element(x, k):
    y = sorted(x, reverse = True)
    kth_large = y[k-1]
    return kth_large

In [8]:
#Example 1 usage
x= [3,2,1,5,6,4]
k = 2
k_largest_element(x, k)

5

In [9]:
#example2 usage
x2 = [10, 20, 30, 40, 50]
k = 3
k_largest_element(x2, k)

30

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [20]:
def all_duplicates(x):
    freq = {}
    for element in x:
        if element in freq:
            freq[element] += 1
        else: 
            freq[element] = 1
    print(freq)
    dup = []
    for key, value in freq.items():
        if freq[key]>1:
            dup.append(key)
    return dup

In [21]:
#Example1 usage:
x = [1, 2, 3, 4, 2, 3, 5]
all_duplicates(x)

{1: 1, 2: 2, 3: 2, 4: 1, 5: 1}

[2, 3]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [23]:
def partition_list(ls):
    even = []
    odd = []
    for element in ls:
        if element%2 == 0:
            even.append(element)
        else:
            odd.append(element)
    print(even, odd)

In [25]:
#Example 1 usage
ls = [1,2,3,4,5]
partition_list(ls)

[2, 4] [1, 3, 5]

In [26]:
#Example 2 usage
ls = [10, 15, 20, 25]
partition_list(ls)

[10, 20] [15, 25]

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [27]:
def first_NonRepeating(x):
    freq = {}
    for element in x:
        if element in freq:
            freq[element] += 1
        else:
            freq[element] = 1
    for key, value in freq.items():
        if freq[key] == 1:
            break
    return key

In [29]:
#Example1 usage
x = [4, 5, 1, 2, 0, 4]
first_NonRepeating(x)

5

In [30]:
#Example2 usage
y = [10, 20, 10, 30, 20]
first_NonRepeating(y)

30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [16]:
def sort_list(x):
    for i in range(len(x)):
        for j in range(1, len(x)):
            if x[j] < x[j-1]:
                x[j], x[j-1] = x[j-1], x[j]
    return x

In [17]:
x = [3,1,4,1,5,9]
sort_list(x)

[1, 1, 3, 4, 5, 9]

In [18]:
#example 2 usage
y = [10, 5, 2, 8]
sort_list(y)

[2, 5, 8, 10]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [63]:
def find_ZeroSum_triplets(x):
    permut = []
    for i in range(len(x)):
        for j in range(len(x)):
            for k in range(len(x)):
                if i!=j and j!=k and k!=i:
                    permut.append([x[i],x[j],x[k]])
    myset = set(tuple(sorted(t)) for t in permut)
    print(myset)
    trip = [list(t) for t in myset]
    print("Possible Triplets list: ", trip)
    for element in trip:
        if sum(element) == 0:
            print("Output: ", element)

In [64]:
#Example1 usage
x = [-1, 0, 1, 2, -1, -4]
find_ZeroSum_triplets(x)

{(-1, 1, 2), (-1, 0, 1), (-1, -1, 2), (-4, -1, 0), (-4, 0, 2), (-4, 1, 2), (-1, -1, 1), (-4, -1, 2), (-4, 0, 1), (0, 1, 2), (-4, -1, 1), (-1, -1, 0), (-4, -1, -1), (-1, 0, 2)}
Possible Triplets list:  [[-1, 1, 2], [-1, 0, 1], [-1, -1, 2], [-4, -1, 0], [-4, 0, 2], [-4, 1, 2], [-1, -1, 1], [-4, -1, 2], [-4, 0, 1], [0, 1, 2], [-4, -1, 1], [-1, -1, 0], [-4, -1, -1], [-1, 0, 2]]
Output:  [-1, 0, 1]
Output:  [-1, -1, 2]

In [65]:
#Example 2 usage
x = [1,-2,1,0,5]
find_ZeroSum_triplets(x)

{(-2, 0, 5), (-2, 1, 5), (-2, 0, 1), (-2, 1, 1), (1, 1, 5), (0, 1, 5), (0, 1, 1)}
Possible Triplets list:  [[-2, 0, 5], [-2, 1, 5], [-2, 0, 1], [-2, 1, 1], [1, 1, 5], [0, 1, 5], [0, 1, 1]]
Output:  [-2, 1, 1]