In [1]:
import sys 
import keyword
import operator
import os 
from datetime import datetime

# Keywords
keywords are the reserved words in Python and can't be used as an identifier.

In [2]:
print(keyword.kwlist) #list all python keywords

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
#print lenght of keywords
len(keyword.kwlist)

36

# Identifiers
An identifier is a name given to the entities like class, functions, variables, etc. It helps to differentiate one entity from another.

In [6]:
#identifer cannit start with digit 
1var = 10

SyntaxError: invalid syntax (2200673040.py, line 2)

In [8]:
val2@= 2 #an identifier canot use special symbols

NameError: name 'val2' is not defined

In [9]:
import = 125 #keywords cannot be used as an identifier

SyntaxError: invalid syntax (2789764451.py, line 1)

In [11]:
def square(num):
    """"
    this function returns the square of the provided number 
    """
    return num ** 2

In [12]:
square(9), square.__doc__

(81, '"\n    this function returns the square of the provided number \n    ')

In [16]:
val1 = 10
print(type(val1))
print(val1, "is integer?", isinstance(val1, int))
print("size of val1: ", sys.getsizeof(val1))

<class 'int'>
10 is integer? True
size of val1:  28

In [18]:
y = 20.9
print(y)
print(type(y))
print(y, "is integer?", isinstance(y, int))
print("size of y: ", sys.getsizeof(y))

20.9
<class 'float'>
20.9 is integer? False
size of y:  24

In [22]:
z = 10+2j
print(type(z))
print(f"{z} is a complex number? {isinstance(z, complex)}")
print(f"size of z is: {sys.getsizeof(z)}")

<class 'complex'>
(10+2j) is a complex number? True
size of z is: 32

In [28]:
#size of float number in bits
print(sys.getsizeof(float()))

24

In [27]:
#size of integer in bits
print(sys.getsizeof(int()))

24

In [26]:
#size of complex number in bits 
print(sys.getsizeof(complex()))

32

In [29]:
str1 = "AI is fun"
print(str1 * 2)

AI is funAI is fun

In [33]:
str2 = """hllo
          world"""
str2

'hllo\n          world'

In [34]:
bool(False)

False

In [35]:
bool(True)

True

In [36]:
bool(1)

True

In [37]:
bool(0)

False

In [38]:
len(str2)

20

# Indexing in string

In [40]:
str2[5]

' '

In [41]:
str2[len(str2)-2]

'l'

In [44]:
str2[18]

'l'

In [45]:
str2[0]

'h'

In [49]:
str1 = "Tooba"
str2 = " Noor"
str3 = str1 +str2
str3

'Tooba Noor'

In [50]:
str3[-1:]

'r'

In [51]:
str3[-1]

'r'

In [52]:
len(str3)

10

In [69]:
str3[::-2]

'ro bo'

In [72]:
s =  "madam"
s[::-1]

'madam'

In [73]:
s[::1]

'madam'

# Loop operation is string

In [67]:
for i in str3:
    print(i)

T
o
o
b
a

N
o
o
r

In [68]:
for i in enumerate(str3):
    print(i)

(0, 'T')
(1, 'o')
(2, 'o')
(3, 'b')
(4, 'a')
(5, ' ')
(6, 'N')
(7, 'o')
(8, 'o')
(9, 'r')

In [74]:
list(enumerate(str3))

[(0, 'T'),
 (1, 'o'),
 (2, 'o'),
 (3, 'b'),
 (4, 'a'),
 (5, ' '),
 (6, 'N'),
 (7, 'o'),
 (8, 'o'),
 (9, 'r')]

# String Functions

In [75]:
'T' in str3

True

In [76]:
'r' in str3

True

In [77]:
'O' in str3

False

In [78]:
'b' in str3

True

# String Partition

In [79]:
str3.partition(" ")

('Tooba', ' ', 'Noor')

In [80]:
str1 = "what is your name? Tooba"
str1.rpartition(" ")

('what is your name?', ' ', 'Tooba')

In [81]:
f = "Python practice for beginnners"
f.partition(" ")

('Python', ' ', 'practice for beginnners')

In [84]:
mystr = "My Favourite programming language is \"Python\""

In [85]:
mystr

'My Favourite programming language is "Python"'

In [86]:
mystr.isupper()

False

In [87]:
mystr.islower()

False

In [88]:
mystr.strip()

'My Favourite programming language is "Python"'

In [89]:
mystr.index("is")

34

In [90]:
mystr.find("is")

34

In [91]:
str3.center(100, "*")

'*********************************************Tooba Noor*********************************************'

In [92]:
str3.rjust(50, "*")

'****************************************Tooba Noor'

In [93]:
str3[0:5].center(50, '*')

'**********************Tooba***********************'

In [94]:
mystr.index("Python")

38

In [95]:
item1 = 100
item2 = 50
item3 = 70
print("Cost of item3, item2, and item1 are:{2}, {1} and {0}".format(item1, item2, item3))

Cost of item3, item2, and item1 are:70, 50 and 100

In [98]:
item1 = 100
item2 = 50
item3 = 70
print("Cost of item1, item2, and item3 are:{2}, {1} and {0}".format(item3, item2, item1))

Cost of item1, item2, and item3 are:100, 50 and 70

In [99]:
mylist = mystr.split()

In [100]:
mylist

['My', 'Favourite', 'programming', 'language', 'is', '"Python"']

In [101]:
mylist[0]

'My'

In [102]:
mylist[0][0]

'M'

In [103]:
mylist[2][::-1]

'gnimmargorp'

In [104]:
mylist[::-1]

['"Python"', 'is', 'language', 'programming', 'Favourite', 'My']

In [105]:
str2 = "are u getting my point"
mylist = str2.split()
mylist

['are', 'u', 'getting', 'my', 'point']

In [106]:
len(mylist)

5

In [107]:
mylist[::-1]

['point', 'my', 'getting', 'u', 'are']

In [108]:
mylist.replace("are", "Are")

AttributeError: 'list' object has no attribute 'replace'

In [114]:
str2 = str2.replace("are", "Are")

In [117]:
str2 = str2 + "?"

In [118]:
str2.upper()

'ARE U GETTING MY POINT?'

# Slicing in list

In [119]:
list1 = [1, 2, 3, 4, 5]
list1[1]

2

In [120]:
list1[:]

[1, 2, 3, 4, 5]

In [122]:
list_stats = [['Amna', 'Aswa', 'Rabie'], ['Tooba', 'Muneeba'], ['Kainat', 'Rabiya', 'Hafsa'], ['Hira', 'Maida', 'Zunash'], ['Arba', 'Momina', 'Maryam', 'Fatima']]

In [128]:
a = list_stats[0]

In [129]:
a

['Amna', 'Aswa', 'Rabie']

In [130]:
a[1]

'Aswa'

In [131]:
b = list_stats[2]

In [133]:
b[2][::-1]

'asfaH'

In [134]:
b[1][::-1]

'ayibaR'

In [135]:
b[0][::-1]

'taniaK'

In [136]:
c = list_stats[1]

In [137]:
c[1]

'Muneeba'

In [139]:
c[1][::-1]

'abeenuM'

In [140]:
c[1].lower()

'muneeba'

# Removing or deleting operations

In [141]:
del c

In [142]:
c

NameError: name 'c' is not defined

In [143]:
b.pop(1)

'Rabiya'

In [144]:
b

['Kainat', 'Hafsa']

In [145]:
b.pop(0)

'Kainat'

In [146]:
b

['Hafsa']

In [148]:
b.remove('Hafsa')

In [149]:
b

[]

In [150]:
del b

In [151]:
b

NameError: name 'b' is not defined

In [152]:
b = list_stats[4]

In [153]:
b

['Arba', 'Momina', 'Maryam', 'Fatima']

In [155]:
b.append("Arslan")

In [156]:
b

['Arba', 'Momina', 'Maryam', 'Fatima', 'Arslan']

In [157]:
b.pop(4)

'Arslan'

In [158]:
b

['Arba', 'Momina', 'Maryam', 'Fatima']

In [160]:
b.insert(3, "Fatima Baloch")

In [161]:
b

['Arba', 'Momina', 'Maryam', 'Fatima Baloch', 'Fatima']

In [162]:
clear b

In [163]:
b

['Arba', 'Momina', 'Maryam', 'Fatima Baloch', 'Fatima']

In [166]:
list2 = [1, 2, 3, 4, 4, 4, 2, 1, 2, 18]
list2[0] = 2
list2[1] = 4
list2[2] = 6
list2[3] = 8
list2[4] = 10
list2[5] = 12
list2[6] = 14
list2[7] = 16
list2[8] = 18
list2[9] = 20

In [167]:
list2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [168]:
b.clear()

In [169]:
b

[]

# Copy

In [170]:
mylist = list2 
print(mylist, list2)
print(id(mylist), id(list2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20] [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
2497633228672 2497633228672

In [171]:
clist = list2.copy()
print(clist, list2)
print(id(clist), id(list2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20] [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
2497633180992 2497633228672

# Adding or Inserting new values

In [173]:
list2.insert(10, 22)
list2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [174]:
mylist

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [175]:
clist

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [178]:
fruits = ['apple', 'orange', 'banana', 'peach']
veg = ['cucumber', 'brinjal', 'bitter gourd', 'turnip']

In [180]:
fv = fruits + veg
fv

['apple',
 'orange',
 'banana',
 'peach',
 'cucumber',
 'brinjal',
 'bitter gourd',
 'turnip']

In [181]:
fruits.extend(veg)

In [182]:
fruits

['apple',
 'orange',
 'banana',
 'peach',
 'cucumber',
 'brinjal',
 'bitter gourd',
 'turnip']

In [184]:
if 'apple' in fruits:
    print("Apple is in the fruits list")
else: 
    print("Apple is not in this list")

Apple is in the fruits list

In [185]:
if 'mango' in fruits:
    print("mango in the fruits list")
else: 
    print("mango is not in this list")

mango is not in this list

In [186]:
fruits.reverse()

In [187]:
fruits

['turnip',
 'bitter gourd',
 'brinjal',
 'cucumber',
 'peach',
 'banana',
 'orange',
 'apple']

In [188]:
list_stats.reverse()

In [189]:
list_stats

[[],
 ['Hira', 'Maida', 'Zunash'],
 [],
 ['Tooba', 'Muneeba'],
 ['Amna', 'Aswa', 'Rabie']]

In [190]:
list_stats[::-1]

[['Amna', 'Aswa', 'Rabie'],
 ['Tooba', 'Muneeba'],
 [],
 ['Hira', 'Maida', 'Zunash'],
 []]

In [191]:
list_stats.insert(2, "Maryam")

In [192]:
list_stats

[[],
 ['Hira', 'Maida', 'Zunash'],
 'Maryam',
 [],
 ['Tooba', 'Muneeba'],
 ['Amna', 'Aswa', 'Rabie']]

In [193]:
list_stats.pop(0)

[]

In [194]:
list_stats

[['Hira', 'Maida', 'Zunash'],
 'Maryam',
 [],
 ['Tooba', 'Muneeba'],
 ['Amna', 'Aswa', 'Rabie']]

In [200]:
list_stats[2].insert(0, "Fatima")

In [201]:
list_stats

[['Hira', 'Maida', 'Zunash'],
 'Maryam',
 ['Fatima'],
 ['Tooba', 'Muneeba'],
 ['Amna', 'Aswa', 'Rabie']]

In [202]:
for i in list_stats:
    print(i)

['Hira', 'Maida', 'Zunash']
Maryam
['Fatima']
['Tooba', 'Muneeba']
['Amna', 'Aswa', 'Rabie']

In [203]:
for i in enumerate(list_stats):
    print(i)

(0, ['Hira', 'Maida', 'Zunash'])
(1, 'Maryam')
(2, ['Fatima'])
(3, ['Tooba', 'Muneeba'])
(4, ['Amna', 'Aswa', 'Rabie'])

In [204]:
mylist.count(2)

1

In [205]:
mylist.count(3)

0

# All() or Any() function in list

In [206]:
all(mylist)

True

In [207]:
any(mylist)

True

In [218]:
mylist.extend(([False]))
mylist

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 'F',
 'a',
 'l',
 's',
 'e',
 'F',
 'a',
 'l',
 's',
 'e',
 'F',
 'a',
 'l',
 's',
 'e',
 'False',
 False]

In [219]:
all(mylist)

False

In [220]:
any(mylist)

True

# List Comprehension

In [221]:
mystring = "HelloWorld"
mylist = [i for i in mystring]
mylist

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [222]:
mylist = [i for i in range(40) if i%2 == 0]
print(mylist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [223]:
mylist2 = [i for i in range(40) if i%2 != 0] #creating list for odd number in the range(40)

In [224]:
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [225]:
product = [i**2 for i in mylist]
product

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444]

In [228]:
sum_mylist = [((i-1) + i) for i in range(1, len(mylist))]

In [229]:
sum_mylist

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37]

In [230]:
#print all numbers in the range(500) that are divisible by3, 9, 12
l1 = [i for i in range(500) if i%3 == 0 if i%9 == 0 if i%12 == 0]
l1

[0, 36, 72, 108, 144, 180, 216, 252, 288, 324, 360, 396, 432, 468]

In [231]:
#print all numbers that are divisible by 2, 10, 12
l2 = [i for i in range(500) if i%2==0 if i%10==0 if i%12==0]
l2

[0, 60, 120, 180, 240, 300, 360, 420, 480]

In [235]:
#print numbers either even or odd in the range of 200
l3 = [print(f'{i} is even number') if i%2 == 0 else print(f'{i} is an odd number') for i in range(200)]
l3

0 is even number
1 is an odd number
2 is even number
3 is an odd number
4 is even number
5 is an odd number
6 is even number
7 is an odd number
8 is even number
9 is an odd number
10 is even number
11 is an odd number
12 is even number
13 is an odd number
14 is even number
15 is an odd number
16 is even number
17 is an odd number
18 is even number
19 is an odd number
20 is even number
21 is an odd number
22 is even number
23 is an odd number
24 is even number
25 is an odd number
26 is even number
27 is an odd number
28 is even number
29 is an odd number
30 is even number
31 is an odd number
32 is even number
33 is an odd number
34 is even number
35 is an odd number
36 is even number
37 is an odd number
38 is even number
39 is an odd number
40 is even number
41 is an odd number
42 is even number
43 is an odd number
44 is even number
45 is an odd number
46 is even number
47 is an odd number
48 is even number
49 is an odd number
50 is even number
51 is an odd number
52 is even number
53 is an odd number
54 is even number
55 is an odd number
56 is even number
57 is an odd number
58 is even number
59 is an odd number
60 is even number
61 is an odd number
62 is even number
63 is an odd number
64 is even number
65 is an odd number
66 is even number
67 is an odd number
68 is even number
69 is an odd number
70 is even number
71 is an odd number
72 is even number
73 is an odd number
74 is even number
75 is an odd number
76 is even number
77 is an odd number
78 is even number
79 is an odd number
80 is even number
81 is an odd number
82 is even number
83 is an odd number
84 is even number
85 is an odd number
86 is even number
87 is an odd number
88 is even number
89 is an odd number
90 is even number
91 is an odd number
92 is even number
93 is an odd number
94 is even number
95 is an odd number
96 is even number
97 is an odd number
98 is even number
99 is an odd number
100 is even number
101 is an odd number
102 is even number
103 is an odd number
104 is even number
105 is an odd number
106 is even number
107 is an odd number
108 is even number
109 is an odd number
110 is even number
111 is an odd number
112 is even number
113 is an odd number
114 is even number
115 is an odd number
116 is even number
117 is an odd number
118 is even number
119 is an odd number
120 is even number
121 is an odd number
122 is even number
123 is an odd number
124 is even number
125 is an odd number
126 is even number
127 is an odd number
128 is even number
129 is an odd number
130 is even number
131 is an odd number
132 is even number
133 is an odd number
134 is even number
135 is an odd number
136 is even number
137 is an odd number
138 is even number
139 is an odd number
140 is even number
141 is an odd number
142 is even number
143 is an odd number
144 is even number
145 is an odd number
146 is even number
147 is an odd number
148 is even number
149 is an odd number
150 is even number
151 is an odd number
152 is even number
153 is an odd number
154 is even number
155 is an odd number
156 is even number
157 is an odd number
158 is even number
159 is an odd number
160 is even number
161 is an odd number
162 is even number
163 is an odd number
164 is even number
165 is an odd number
166 is even number
167 is an odd number
168 is even number
169 is an odd number
170 is even number
171 is an odd number
172 is even number
173 is an odd number
174 is even number
175 is an odd number
176 is even number
177 is an odd number
178 is even number
179 is an odd number
180 is even number
181 is an odd number
182 is even number
183 is an odd number
184 is even number
185 is an odd number
186 is even number
187 is an odd number
188 is even number
189 is an odd number
190 is even number
191 is an odd number
192 is even number
193 is an odd number
194 is even number
195 is an odd number
196 is even number
197 is an odd number
198 is even number
199 is an odd number

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [236]:
#extract numbers from the list

str3 = 'one 1 two 2 three 3 four 4'
dig = [i for i in str3 if i.isdigit()]
dig

['1', '2', '3', '4']

In [241]:
#extract alphabets from the list
alph = [i for i in str3 if i.isalpha()]
alph

['o', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r', 'e', 'e', 'f', 'o', 'u', 'r']

# TUPLES

    Tuples are similar to lists except that the objects in the tuples are immutable which means we cannot change the element of the tuple once assigned
    We prefered tuple when we do not want to change the data
    Iterating over the elements of the tuple is faster as compared to the iterating over the elements of list

In [243]:
tup1 = () #created a blank tuple

In [247]:
tup1 = (1, 2, 3) #integer values tuple\
type(tup1)

tuple

In [248]:
tup2 = (1.2, 1.6, 1.9, 2.3) #float numbers tuple
tup2

(1.2, 1.6, 1.9, 2.3)

In [249]:
#mixed values tuple
tup3 = (1, 2, 4.5, "Math", 20)
tup3

(1, 2, 4.5, 'Math', 20)

In [250]:
#list inside the tuple
tup4 = (1, 2, 3, [1.2, 2.3, 2.9], ['Eng', 'Math', 'Computer'])
tup4

(1, 2, 3, [1.2, 2.3, 2.9], ['Eng', 'Math', 'Computer'])

In [252]:
#nested tuples 
tup5 = (1, 2, 3, (1, 2), 12)
tup5

(1, 2, 3, (1, 2), 12)

# tuple indexing

In [253]:
tup5[0]

1

In [258]:
tup5[0] = 2

TypeError: 'tuple' object does not support item assignment

In [260]:
tup5[3]

(1, 2)

In [261]:
tup5[-1]

12

# Tuple Slicing

In [256]:
tup5[::-1]

(12, (1, 2), 3, 2, 1)

In [262]:
tup5[1:4:2]

(2, (1, 2))

In [263]:
len(tup4)

5

In [264]:
tup4[3:5:1]

([1.2, 2.3, 2.9], ['Eng', 'Math', 'Computer'])

In [265]:
#return first 2 itenms
tup4[:2]

(1, 2)

In [266]:
tup4[:-1]

(1, 2, 3, [1.2, 2.3, 2.9])

In [267]:
#return the whole tuple
tup4[:]

(1, 2, 3, [1.2, 2.3, 2.9], ['Eng', 'Math', 'Computer'])

# Changing in the tuple elements

In [268]:
tup4[0] = 1
#tuples are immutable so we cannot change the items in the tuple

TypeError: 'tuple' object does not support item assignment

In [270]:
del tup4[0] #cannot delete item in the tuple

TypeError: 'tuple' object doesn't support item deletion

In [271]:
#hence can delete the entire tuple and this is possible
del tup4

# Loop through a Tuple

In [273]:
tup2

(1.2, 1.6, 1.9, 2.3)

In [274]:
for i in tup2:
    print(i)

1.2
1.6
1.9
2.3

In [275]:
for i in enumerate(tup2):
    print(i)

(0, 1.2)
(1, 1.6)
(2, 1.9)
(3, 2.3)

In [276]:
tup1
for i in enumerate(tup1):
    print(i)

(0, 1)
(1, 2)
(2, 3)

# Count

In [277]:
tup1.count(1)

1

In [278]:
tup1.count(0)

0

In [279]:
tup1.count(2)

1

# Tuple Membership

In [280]:
tup = ('apple', 'avacado', 'banana', 'orange', 'grapes')
if 'apple' in tup:
    print("Apple is present in the tuple")
else: 
    print("Apple is not present in element of the tuple")

Apple is present in the tuple

In [281]:
if 'mango' in tup:
    print("mango is in the tuple")
else:
    print("mango is not present in the tuple")

mango is not present in the tuple

In [282]:
if 'avacado' in tup:
    print("Avacado is in the tuple")
else:
    print("Avacado is not in the tuple")

Avacado is in the tuple

# Indexing

In [283]:
tup.index('avacado')

1

In [284]:
tup.index("banana")

2

In [285]:
tup.index("orange")

3

In [286]:
tup.index("grapes")

4

# Sorting

In [287]:
sorted(tup2)

[1.2, 1.6, 1.9, 2.3]

In [288]:
sorted(tup3)

TypeError: '<' not supported between instances of 'str' and 'float'

In [289]:
sorted(tup)

['apple', 'avacado', 'banana', 'grapes', 'orange']

In [290]:
sorted(tup, reverse=False)

['apple', 'avacado', 'banana', 'grapes', 'orange']

In [291]:
sorted(tup, reverse = True)

['orange', 'grapes', 'banana', 'avacado', 'apple']

In [292]:
sorted(tup1, reverse=True)

[3, 2, 1]

# Sets
    1. UnOrdered and UnSequenced collection of items
    2. Set elements are immutable (cannot be changed)
    3. Set elements are unique. elements cannot be duplicated.
    4. Set itself is mutable. we can add and remove items from it.

In [293]:
myset = {} #created a blank set

In [296]:
myset = {1, 2, 3, 4, 5} #integers values set

In [297]:
myset

{1, 2, 3, 4, 5}

In [298]:
len(myset)

5

In [299]:
#trying to add duplicate elements in the sets
myset = {1, 2, 3, 4, 4, 2, 5, 6}

In [300]:
len(myset)

6

In [301]:
myset

{1, 2, 3, 4, 5, 6}

In [302]:
#cannot store mutable elements inside the set like list
myset = {1, 2, 3, [1, 2, 4], 7, 8}
myset

TypeError: unhashable type: 'list'

In [303]:
float_set = {1.2, 2.5, 2.8, 3.0} #storing float values inside the set
type(float_set)

set

In [304]:
#can store mix data types inisde the set
mix_set = {1, 2, 5, (2, 6, 3), "Hello", "World"}

In [305]:
mix_set

{(2, 6, 3), 1, 2, 5, 'Hello', 'World'}

In [308]:
#initializing empty set 
s = set()
#giving values to empty set to store
s = set((1, 2, 3, 4, 5))
s

{1, 2, 3, 4, 5}

# Loop through a set

In [309]:
for i in s:
    print(i)

1
2
3
4
5

In [310]:
for i in mix_set:
    print(mix_set)

{1, 2, 'World', 5, 'Hello', (2, 6, 3)}
{1, 2, 'World', 5, 'Hello', (2, 6, 3)}
{1, 2, 'World', 5, 'Hello', (2, 6, 3)}
{1, 2, 'World', 5, 'Hello', (2, 6, 3)}
{1, 2, 'World', 5, 'Hello', (2, 6, 3)}
{1, 2, 'World', 5, 'Hello', (2, 6, 3)}

In [311]:
for i in enumerate(mix_set):
    print(i)

(0, 1)
(1, 2)
(2, 'World')
(3, 5)
(4, 'Hello')
(5, (2, 6, 3))

# Membership

In [314]:
1 in mix_set

True

In [315]:
"hello" in mix_set

False

In [316]:
"Hello" in mix_set

True

In [317]:
if "Hello" in mix_set:
    if "World" in mix_set: 
        print("Hello World is in the mix_set")

Hello World is in the mix_set

# Add and Remove items in the set

In [318]:
mix_set

{(2, 6, 3), 1, 2, 5, 'Hello', 'World'}

In [320]:
mix_set.add(10)
mix_set

{(2, 6, 3), 1, 10, 2, 5, 'Hello', 'World'}

In [324]:
mix_set.update([12, 10, 16, 'Greet'])
mix_set

{(2, 6, 3), 1, 10, 12, 16, 2, 5, 'Greet', 'Hello', 'World'}

In [327]:
#removing the element from the set 
mix_set.remove(5)
mix_set

{(2, 6, 3), 1, 10, 12, 16, 2, 'Hello', 'World'}

In [328]:
mix_set.discard((2, 6, 3))

In [330]:
mix_set

{1, 10, 12, 16, 2, 'Hello', 'World'}

In [331]:
del mix_set

In [333]:
mix_set

NameError: name 'mix_set' is not defined

# Copy

In [334]:
set1 = {'Mr.A', 'Mr.B', 'Mr.C', 'Mr.D'}
set2 = set1

In [335]:
id(set1), id(set2)

(2497633399968, 2497633399968)

In [340]:
set1.update(('Mr.E', 'Mr.F'))

In [341]:
print(set1, set2)

{'M', 'F', 'Mr.B', 'Mr.E', 'Mr.C', 'E', '.', 'Mr.F', 'r', 'Mr.D', 'Mr.A'} {'M', 'F', 'Mr.B', 'Mr.E', 'Mr.C', 'E', '.', 'Mr.F', 'r', 'Mr.D', 'Mr.A'}

In [342]:
set3 = set1.copy()
id(set3), id(set1)

(2497633401088, 2497633399968)

In [343]:
set1.discard("M")

In [344]:
set3, set1

({'.', 'E', 'F', 'M', 'Mr.A', 'Mr.B', 'Mr.C', 'Mr.D', 'Mr.E', 'Mr.F', 'r'},
 {'.', 'E', 'F', 'Mr.A', 'Mr.B', 'Mr.C', 'Mr.D', 'Mr.E', 'Mr.F', 'r'})

# Operations

In [345]:
A = {1, 2, 3, 4}
B = {5, 2, 12, 4, 6}
C = {7, 8, 12, 9, 10}

In [346]:
#Union
A | B

{1, 2, 3, 4, 5, 6, 12}

In [347]:
A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [348]:
A.update(B, C)

In [349]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [350]:
#intersection
A.intersection_update(B, C)

In [351]:
A

{12}

In [352]:
A&B

{12}

In [353]:
#Difference
A = {1, 2, 3, 4}
B = {5, 2, 12, 4, 6}
C = {7, 8, 12, 9, 10}

In [354]:
A - B

{1, 3}

In [355]:
A.difference(B)

{1, 3}

In [356]:
A.difference_update(B)

In [357]:
B-A

{2, 4, 5, 6, 12}

In [358]:
B.difference(A)

{2, 4, 5, 6, 12}

In [360]:
B.difference_update(A)
B

{2, 4, 5, 6, 12}

In [361]:
#symmetric differnce: means the elements in set A but not in set B
A^B

{1, 2, 3, 4, 5, 6, 12}

In [367]:
A.symmetric_difference(B)

{1, 2, 3, 4, 5, 6, 12}

In [368]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 4, 5, 6, 12}

In [369]:
#subset, superset, disjoint

In [370]:
A = {1, 2, 3, 4}
B = {5, 2, 12, 4, 6}
C = {7, 8, 12, 9, 10}

In [372]:
A.issubset(B) #set A is subset of set B if all elements in the set A exits in the set B

False

In [375]:
B.issubset(A) #set B is subset of set A if all elements in the set B exists in the set A

False

In [376]:
A.issuperset(B)

False

In [378]:
B.issuperset(A)

False

In [380]:
#Disjoint: two sets are said to be disjoint set if they have no common elements
A.isdisjoint(B)

False

In [382]:
A.isdisjoint(C)

True

In [383]:
C.isdisjoint(B)

False

# Some built in functions

In [384]:
min(A)

1

In [385]:
max(A)

4

In [386]:
sum(A)

10

In [387]:
sorted(A, reverse = True)

[4, 3, 2, 1]

In [389]:
enumerate(A)

In [390]:
for i in enumerate(A):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [392]:
sorted(A)

[1, 2, 3, 4]

# Dictionary:
    1. Dictionary is a mutable data type
    2. A python dictionary is collection of key and value pairs separated by `:` and enclosed in curly brackets `{}`
    3. keys must be unique in the dictionary. while the values can be duplicated

In [393]:
#create empty dict
mydict = dict()

In [394]:
type(mydict)

dict

In [4]:
mydict = dict({1:'Ayesha', 2:'Aimen', 3:'Amna', 4:'Aliya', 5:'Arooba'})
mydict

{1: 'Ayesha', 2: 'Aimen', 3: 'Amna', 4: 'Aliya', 5: 'Arooba'}

In [5]:
#can stored multiple values as list or tuple in the dictionaries against one unique key
mydict = dict({1:'Ayesha', 2:'Aimen', 3:'Amna', 4:['Aliya', 'Maham', 'Mahak', 'Maryam'], 5:('Arooba', 'Lahore', 32, "married")})
mydict

{1: 'Ayesha',
 2: 'Aimen',
 3: 'Amna',
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married')}

In [6]:
#can stored multiple values as list or tuple in the dictionaries against one unique key
mydict = dict({1:'Ayesha', 2:'Aimen', 3:{'Name':'Amna', 'Age':25, 'City':'Lahore', "status":'Engaged'}, 4:['Aliya', 'Maham', 'Mahak', 'Maryam'], 5:('Arooba', 'Lahore', 32, "married")})
mydict

{1: 'Ayesha',
 2: 'Aimen',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married')}

In [6]:
keys = {'a', 'b', 'c', 'd'}
dic1 = dict.fromkeys(keys)
dic1

{'b': None, 'a': None, 'd': None, 'c': None}

In [7]:
values = [10, 20, 30, 40]
dic1 = dict.fromkeys(keys, values)
dic1

{'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [8]:
values.append(50)

In [16]:
dic1

{'b': [10, 20, 30, 40, 50],
 'd': [10, 20, 30, 40, 50],
 'c': [10, 20, 30, 40, 50],
 'a': [10, 20, 30, 40, 50]}

In [18]:
#aceesing the keys of the dictionary
dic1.keys()

dict_keys(['b', 'd', 'c', 'a'])

In [19]:
#accesing the values of dictionary
dic1.values()

dict_values([[10, 20, 30, 40, 50], [10, 20, 30, 40, 50], [10, 20, 30, 40, 50], [10, 20, 30, 40, 50]])

In [20]:
#Accessing the key, value pair in the dictionary
dic1.items()

dict_items([('b', [10, 20, 30, 40, 50]), ('d', [10, 20, 30, 40, 50]), ('c', [10, 20, 30, 40, 50]), ('a', [10, 20, 30, 40, 50])])

# Accessing items

In [21]:
dic1['d'] #Accesing item using key

[10, 20, 30, 40, 50]

In [24]:
dic1.get("b") #Accessing item using get() method

[10, 20, 30, 40, 50]

In [25]:
#can stored multiple values as list or tuple in the dictionaries against one unique key
mydict = dict({1:'Ayesha', 2:'Aimen', 3:{'Name':'Amna', 'Age':25, 'City':'Lahore', "status":'Engaged'}, 4:['Aliya', 'Maham', 'Mahak', 'Maryam'], 5:('Arooba', 'Lahore', 32, "married")})
mydict

{1: 'Ayesha',
 2: 'Aimen',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married')}

In [27]:
mydict[3]['Name'] #getting items from nested dictionary

'Amna'

In [28]:
mydict[3]['Age']

25

In [31]:
mydict.get(3)['City'] #getting items from nested dictionary by using get() method

'Lahore'

In [32]:
mydict.get(3)['status']

'Engaged'

# Add remove or change items in the dictionary

In [2]:
#can stored multiple values as list or tuple in the dictionaries against one unique key
mydict = dict({1:'Ayesha', 2:'Aimen', 3:{'Name':'Amna', 'Age':25, 'City':'Lahore', "status":'Engaged'}, 4:['Aliya', 'Maham', 'Mahak', 'Maryam'], 5:('Arooba', 'Lahore', 32, "married")})
mydict

{1: 'Ayesha',
 2: 'Aimen',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married')}

In [3]:
#Adding new key value in the mydict
mydict["f"] = ("Apple", "Mango", "Banana", "Plum")
mydict

{1: 'Ayesha',
 2: 'Aimen',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married'),
 'f': ('Apple', 'Mango', 'Banana', 'Plum')}

In [4]:
#swapping the values
mydict[1], mydict[2] = mydict[2], mydict[1]

In [5]:
mydict

{1: 'Aimen',
 2: 'Ayesha',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married'),
 'f': ('Apple', 'Mango', 'Banana', 'Plum')}

In [10]:
keys = {'a', 'b', 'c', 'd'}
dict1 = dict.fromkeys(keys)
dict1

{'b': None, 'a': None, 'd': None, 'c': None}

In [11]:
values = [10, 20, 30, 40]
dict1 = dict.fromkeys(keys, values)
dict1

{'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [12]:
##Adding new dictionary to mydict by using update method
mydict.update(dict1)

In [13]:
mydict

{1: 'Aimen',
 2: 'Ayesha',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married'),
 'f': ('Apple', 'Mango', 'Banana', 'Plum'),
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [14]:
#Removing specific value from the dictionary using pop method
mydict.pop("b")

[10, 20, 30, 40]

In [15]:
mydict

{1: 'Aimen',
 2: 'Ayesha',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married'),
 'f': ('Apple', 'Mango', 'Banana', 'Plum'),
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [16]:
#using popitem randomly removes any item from the dictionary 
mydict.popitem()

('c', [10, 20, 30, 40])

In [17]:
mydict

{1: 'Aimen',
 2: 'Ayesha',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married'),
 'f': ('Apple', 'Mango', 'Banana', 'Plum'),
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

In [18]:
#using del method to remove item
del mydict['a']

In [19]:
mydict

{1: 'Aimen',
 2: 'Ayesha',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married'),
 'f': ('Apple', 'Mango', 'Banana', 'Plum'),
 'd': [10, 20, 30, 40]}

In [20]:
del mydict['d']

In [21]:
mydict

{1: 'Aimen',
 2: 'Ayesha',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married'),
 'f': ('Apple', 'Mango', 'Banana', 'Plum')}

In [22]:
#removes all items by using clear() function
mydict.clear()

In [23]:
mydict

{}

In [24]:
#now we have blank dictionary 
#so delete the instance of the dictionary by using del method 
del mydict

In [25]:
mydict

NameError: name 'mydict' is not defined

# Copy

In [27]:
#can stored multiple values as list or tuple in the dictionaries against one unique key
mydict = dict({1:'Ayesha', 2:'Aimen', 3:{'Name':'Amna', 'Age':25, 'City':'Lahore', "status":'Engaged'}, 4:['Aliya', 'Maham', 'Mahak', 'Maryam'], 5:('Arooba', 'Lahore', 32, "married")})
mydict

{1: 'Ayesha',
 2: 'Aimen',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married')}

In [29]:
new_dict = mydict

In [30]:
new_dict

{1: 'Ayesha',
 2: 'Aimen',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married')}

In [31]:
id(mydict), id(new_dict)

(2043866942208, 2043866942208)

In [32]:
new_dict[1], new_dict[2] = new_dict[2], new_dict[1]

In [33]:
new_dict

{1: 'Aimen',
 2: 'Ayesha',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married')}

In [34]:
mydict

{1: 'Aimen',
 2: 'Ayesha',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married')}

#### change occurs in both while we only swap the values in the new_dict

In [36]:
cdict = mydict.copy()
print(cdict)
print(id(cdict))
print(mydict)
print(id(mydict))

{1: 'Aimen', 2: 'Ayesha', 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'}, 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'], 5: ('Arooba', 'Lahore', 32, 'married')}
2043866946432
{1: 'Aimen', 2: 'Ayesha', 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'}, 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'], 5: ('Arooba', 'Lahore', 32, 'married')}
2043866942208

In [37]:
cdict.update({1:{'Name': 'Aimen', 'Age':26, 'Education':'Gruated', 'City':'Lahore'}})

In [38]:
print(cdict)
print(mydict)

{1: {'Name': 'Aimen', 'Age': 26, 'Education': 'Gruated', 'City': 'Lahore'}, 2: 'Ayesha', 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'}, 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'], 5: ('Arooba', 'Lahore', 32, 'married')}
{1: 'Aimen', 2: 'Ayesha', 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'}, 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'], 5: ('Arooba', 'Lahore', 32, 'married')}

## Loop through a dictionary

In [41]:
for i in cdict:
    print( i, ':', cdict[i]) #printing both key value pairs

1 : {'Name': 'Aimen', 'Age': 26, 'Education': 'Gruated', 'City': 'Lahore'}
2 : Ayesha
3 : {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'}
4 : ['Aliya', 'Maham', 'Mahak', 'Maryam']
5 : ('Arooba', 'Lahore', 32, 'married')

In [42]:
for i in enumerate(cdict):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [46]:
for i in cdict:
    print(cdict[i]) #print only values

{'Name': 'Aimen', 'Age': 26, 'Education': 'Gruated', 'City': 'Lahore'}
Ayesha
{'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'}
['Aliya', 'Maham', 'Mahak', 'Maryam']
('Arooba', 'Lahore', 32, 'married')

In [47]:
for key, value in cdict.items():
    print(key)
    print(value)

1
{'Name': 'Aimen', 'Age': 26, 'Education': 'Gruated', 'City': 'Lahore'}
2
Ayesha
3
{'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'}
4
['Aliya', 'Maham', 'Mahak', 'Maryam']
5
('Arooba', 'Lahore', 32, 'married')

# membership in dictionary

In [48]:
#membership function can only be done on the basis of keys in the dictionary 
1 in cdict

True

In [49]:
'f' in cdict

False

In [50]:
#if i pass a value 
'Ayesha' in cdict

False

In [51]:
5 in cdict

True

# All() and Any() function
     The all() method returns:
     True - If all all keys of the dictionary are true
     False - If any key of the dictionary is false
     The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [52]:
all(cdict)

True

In [53]:
cdict.update({0:'Fatima'})

In [54]:
cdict

{1: {'Name': 'Aimen', 'Age': 26, 'Education': 'Gruated', 'City': 'Lahore'},
 2: 'Ayesha',
 3: {'Name': 'Amna', 'Age': 25, 'City': 'Lahore', 'status': 'Engaged'},
 4: ['Aliya', 'Maham', 'Mahak', 'Maryam'],
 5: ('Arooba', 'Lahore', 32, 'married'),
 0: 'Fatima'}

In [55]:
all(cdict)

False

In [56]:
any(cdict)

True

# Dictionary Comprehension

In [58]:
double = {i:i*2 for i in range(10)} #double each key using dictionary comprehension

In [59]:
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [60]:
square = {i:i**2 for i in range(40)}
square

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521}

In [61]:
cube = {i:i**3 for i in range(10)}
cube

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [62]:
#storing even numbers
even = {i:(i%2 == 0) for i in range(30)}

In [63]:
even

{0: True,
 1: False,
 2: True,
 3: False,
 4: True,
 5: False,
 6: True,
 7: False,
 8: True,
 9: False,
 10: True,
 11: False,
 12: True,
 13: False,
 14: True,
 15: False,
 16: True,
 17: False,
 18: True,
 19: False,
 20: True,
 21: False,
 22: True,
 23: False,
 24: True,
 25: False,
 26: True,
 27: False,
 28: True,
 29: False}

In [65]:
#creating the dictionary using the dictionary comprehension
keys = (1, 2, 3, 4, 5)
values = ('Apple', 'Banana', 'Orange', 'Mango', 'WaterMelon')
ds = {k:v for (k,v) in zip(keys, values)}
ds

{1: 'Apple', 2: 'Banana', 3: 'Orange', 4: 'Mango', 5: 'WaterMelon'}

In [66]:
#divide all values in the dictionary by 10
div = {k:v/10 for (k,v) in square.items()}

In [67]:
div

{0: 0.0,
 1: 0.1,
 2: 0.4,
 3: 0.9,
 4: 1.6,
 5: 2.5,
 6: 3.6,
 7: 4.9,
 8: 6.4,
 9: 8.1,
 10: 10.0,
 11: 12.1,
 12: 14.4,
 13: 16.9,
 14: 19.6,
 15: 22.5,
 16: 25.6,
 17: 28.9,
 18: 32.4,
 19: 36.1,
 20: 40.0,
 21: 44.1,
 22: 48.4,
 23: 52.9,
 24: 57.6,
 25: 62.5,
 26: 67.6,
 27: 72.9,
 28: 78.4,
 29: 84.1,
 30: 90.0,
 31: 96.1,
 32: 102.4,
 33: 108.9,
 34: 115.6,
 35: 122.5,
 36: 129.6,
 37: 136.9,
 38: 144.4,
 39: 152.1}

In [68]:
#now divided by 2 
div = {k:v//2 for (k,v) in div.items()}

In [69]:
div

{0: 0.0,
 1: 0.0,
 2: 0.0,
 3: 0.0,
 4: 0.0,
 5: 1.0,
 6: 1.0,
 7: 2.0,
 8: 3.0,
 9: 4.0,
 10: 5.0,
 11: 6.0,
 12: 7.0,
 13: 8.0,
 14: 9.0,
 15: 11.0,
 16: 12.0,
 17: 14.0,
 18: 16.0,
 19: 18.0,
 20: 20.0,
 21: 22.0,
 22: 24.0,
 23: 26.0,
 24: 28.0,
 25: 31.0,
 26: 33.0,
 27: 36.0,
 28: 39.0,
 29: 42.0,
 30: 45.0,
 31: 48.0,
 32: 51.0,
 33: 54.0,
 34: 57.0,
 35: 61.0,
 36: 64.0,
 37: 68.0,
 38: 72.0,
 39: 76.0}

In [76]:
string = "Learning is fun with Dr.Arif"
string = string.split(" ")
print(string)
sdic = {k:v for (k,v) in enumerate(string)}
sdic

['Learning', 'is', 'fun', 'with', 'Dr.Arif']

{0: 'Learning', 1: 'is', 2: 'fun', 3: 'with', 4: 'Dr.Arif'}

In [75]:
s = 'abcdefghijklmnopqrstuvwxyz'
upper = {i:(i.upper()) for i in s}
upper

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

# Word frequency using dictionary

In [82]:
str2 = "one two one two three one two three four one two three four five one two three four five six one two three four five six sevene eight nine ten"

In [83]:
mylist = str2.split()
print(mylist)

['one', 'two', 'one', 'two', 'three', 'one', 'two', 'three', 'four', 'one', 'two', 'three', 'four', 'five', 'one', 'two', 'three', 'four', 'five', 'six', 'one', 'two', 'three', 'four', 'five', 'six', 'sevene', 'eight', 'nine', 'ten']

In [84]:
mylist = set(mylist) #using set to avoid duplicates values
print(mylist)

{'five', 'eight', 'two', 'sevene', 'one', 'four', 'six', 'nine', 'three', 'ten'}

In [86]:
mylist = list(mylist)
mylist

['five',
 'eight',
 'two',
 'sevene',
 'one',
 'four',
 'six',
 'nine',
 'three',
 'ten']

In [87]:
freq = {}
for element in mylist:
    if element in freq:
        freq[element] += 1
    else:
        freq[element] = 1
print(freq)

{'five': 1, 'eight': 1, 'two': 1, 'sevene': 1, 'one': 1, 'four': 1, 'six': 1, 'nine': 1, 'three': 1, 'ten': 1}

In [88]:
freq = {}
for char in str2:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1
print(freq)

{'o': 16, 'n': 10, 'e': 25, ' ': 29, 't': 13, 'w': 6, 'h': 6, 'r': 9, 'f': 7, 'u': 4, 'i': 7, 'v': 4, 's': 3, 'x': 2, 'g': 1}

In [89]:
freq = {}
for element in str2:
    if element in freq:
        freq[element] += 1
    else: 
        freq[element] = 1
print(freq)

{'o': 16, 'n': 10, 'e': 25, ' ': 29, 't': 13, 'w': 6, 'h': 6, 'r': 9, 'f': 7, 'u': 4, 'i': 7, 'v': 4, 's': 3, 'x': 2, 'g': 1}

In [92]:
str_list = str2.split()
str_list

['one',
 'two',
 'one',
 'two',
 'three',
 'one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'three',
 'four',
 'five',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'sevene',
 'eight',
 'nine',
 'ten']

In [95]:
count = {}
for element in str_list:
    if element in count:
        count[element] += 1
    else:
        count[element] = 1
print(count)

{'one': 6, 'two': 6, 'three': 5, 'four': 4, 'five': 3, 'six': 2, 'sevene': 1, 'eight': 1, 'nine': 1, 'ten': 1}

# Operators
    Operators are special symbols in Python which are used to perform operations on variables/values

# Arithmetic operators

In [96]:
x = 10
y = 20

print('x: ', x)
print('y: ', y)
print("Addition of two values: ", x+y)
print("Subtraction between two values: ", x-y)
print("Multiplication of two values: ", x*y)
print("Division (floor) of two values: ", x//y)
print("Modulas: ", x%y)
print("square Exponent of the number: ", x**2)

x:  10
y:  20
Addition of two values:  30
Subtraction between two values:  -10
Multiplication of two values:  200
Division (floor) of two values:  0
Modulas:  10
square Exponent of the number:  100

# Comparison operators

In [100]:
x = 2
y = 4

print("x", x)
print('y', y)
print("Is x greater than y?  ", x>y)
print("Is x less than y? ", x<y)
print("Is x equal to y? ", x == y)
print("Is x not equal to y? ",x!=y)
print("Is x less than or equal to y? ", x<=y)
print("Is x greater than or equal to ?", x>=y)

x 2
y 4
Is x greater than y?   False
Is x less than y?  True
Is x equal to y?  False
Is x not equal to y?  True
Is x less than or equal to y?  True
Is x greater than or equal to ? False

# Logical Operators

In [101]:
x = True
y = False

print("AND operation: ", x and y) #true if both values are true
print("OR operation: ", x or y) #true if either of them is true
print("NOT operation: ", not x) #true if the operand is false

AND operation:  False
OR operation:  True
NOT operation:  False

# Bitwise Operators
    bitwise operators acts on bits and perform bit by bit

In [102]:
x = 18 #binaryform 10010
y = 6 #binary form 00110

print('x: ', x)
print('y: ', y)
print("Bitwise AND operation: ", x&y)
print("Bitwise OR operation: ", x|y)
print("Bitwise XOR operation: ", x^y)
print("Bitwise NOT operation: ", ~x)
print("Bitwise right shift: ", x>>2)
print("Bitwise left shift operation: ", x<<2)

x:  18
y:  6
Bitwise AND operation:  2
Bitwise OR operation:  22
Bitwise XOR operation:  20
Bitwise NOT operation:  -19
Bitwise right shift:  4
Bitwise left shift operation:  72

# Assignment Operators

In [3]:
x = 15

print("Assigned the variable x with value:", x)

#adding in the x
x += 3
print("Adding to x: x+=2: ", x)

x -= 2
#subtracting in the x
print("Subtract to the x (x -= 2): ", x)

#Dividing to x
x /= 2
print("Divide to the x (x /= 2): ", x)

#perform multiplcation to the x
x *= 4
print("Multiplication to the x (x *= 4): ", x)

#perform exponnetial to the x
x **= 2
print("raised to the power of 2 in x (x **= 2): ", x)

#perform floor division
x //= 3
print("floor division to the x (x //=32): ", x)

#perform modulus of x
x %= 2
print("Modulus to x %= 2): ", x)

x = int(x)
print("integer of x: ", int(x))

#perform bitwise and operator
x &= 2
print("bitiwse & (x & 2): ", x)

#perform bitwise Or
x |= 2
print("Bitwise Or operator: ", x)

#perform bitwise xor
x ^= 2
print("Bitwise XOR operator to the x: ", x)

#perform bitwise right shift operator
x >>= 2
print("Bitwise right shift operator to x: ", x)

#perform bitwise left shift operator
x <<= 2
print("Bitwise left shift operation to x: ", x)

Assigned the variable x with value: 15
Adding to x: x+=2:  18
Subtract to the x (x -= 2):  16
Divide to the x (x /= 2):  8.0
Multiplication to the x (x *= 4):  32.0
raised to the power of 2 in x (x **= 2):  1024.0
floor division to the x (x //=32):  341.0
Modulus to x %= 2):  1.0
integer of x:  1
bitiwse & (x & 2):  0
Bitwise Or operator:  2
Bitwise XOR operator to the x:  0
Bitwise right shift operator to x:  0
Bitwise left shift operation to x:  0

# Membership operators
    Membership operators is used to test whether a value/variable present in the sequence.

In [4]:
st = "University of the Punjab"
print(st)
'University' in st

University of the Punjab

True

In [6]:
Section_A = ['Ahmed', 'Rizwan', 'Nadeem', 'Ramza', 'Faiq', 'Zain']
Section_B = ['Ayesha', 'Amna', 'Atiya', 'Anaya', 'Aliya']

print(Section_A)
print(Section_B)
print("Is Aliya exists in section_A? ", "Aliya" in Section_A)
print("Is Ahmed exist in the Section_A? ", "Ahmed" in Section_A)
print("Is Atiya exist in the Section_B? ", "Atiya" in Section_B)
print("Is Zain exist in the Section_A? ", "Zain" in Section_A)

['Ahmed', 'Rizwan', 'Nadeem', 'Ramza', 'Faiq', 'Zain']
['Ayesha', 'Amna', 'Atiya', 'Anaya', 'Aliya']
Is Aliya exists in section_A?  False
Is Ahmed exist in the Section_A?  True
Is Atiya exist in the Section_B?  True
Is Zain exist in the Section_A?  True