In [1]:
def myfunc(x):
    print("x: ", x)
myfunc(10)

x:  10

In [2]:
def print_full_name(first_name, middle_name, last_name):
    print(f"{first_name} {middle_name} {last_name}")

In [3]:
print_full_name('Tooba', 'Noor', 'Hanif')

Tooba Noor Hanif

In [4]:
def square_number(x):
    return x**2

In [5]:
square_number(5)

25

In [12]:
def multiply(x, y):
    return x*y

In [13]:
multiply(10, 15)

150

In [14]:
def remove_spaces(s):
    r = s.split()
    return r

In [15]:
remove_spaces("Tooba Noor")

['Tooba', 'Noor']

In [16]:
def add_numbers(x, y):
    return x+y

In [17]:
add_numbers(10, 20)

30

In [18]:
def factorial(num):
    if num <= 1:
        return 1
    else: 
        return num * factorial(num-1)

In [19]:
factorial(2)

2

In [20]:
factorial(3)

6

In [21]:
factorial(10)

3628800

In [22]:
def swap_values(a, b):
    temp = a
    a = b
    b = temp
    return a, b

In [23]:
swap_values(10, 20)

(20, 10)

In [24]:
def add(num): #set of first n natural numbers
    if num <= 1:
        return num
    else:
        return num + add(num-1)

In [25]:
add(10)

55

In [26]:
add(1)

1

In [27]:
add(3)

6

In [28]:
def fibonacci(num):
    if num <= 1:
        return num
    if num == 2:
        return 1
    else:
        return fibonacci(num-1) + fibonacci(num-2)

In [29]:
fibonacci(7)

13

In [31]:
num = int(input("How many Fibonacci numbers do u want to generate? "))

for i in range(num):
    print(fibonacci(i))

How many Fibonacci numbers do u want to generate? 10
0
1
1
2
3
5
8
13
21
34

In [33]:
def countdown(num):
    if num == 0:
        print("Done!")
    else:
        print(num)
        countdown(num-1)

In [34]:
countdown(10)

10
9
8
7
6
5
4
3
2
1
Done!

In [38]:
def print_order(num):
    if num == 0:
        return 
    print(num) #decreasing
    print_order(num-1)
    print(num) #increasing

In [39]:
print_order(10)

10
9
8
7
6
5
4
3
2
1
1
2
3
4
5
6
7
8
9
10

In [32]:
def some_args(arg1, arg2, arg3):
    print("Arg1: ", arg1)
    print("Arg2: ", arg2)
    print("Arg3: ", arg3)
lis = [2, 3]
some_args(1, *lis)

Arg1:  1
Arg2:  2
Arg3:  3

In [42]:
def add(*args):
    return sum(args)

add(1, 2, 3, 4)

10

In [43]:
list1 = [1,2,3,4,5,6,7,8]
tup = (2,3,4,4,5,67,232,2)

add(*list1), add(*tup)

(36, 319)

In [44]:
add(*list1, *tup)

355

In [47]:
def userdetails(**kwargs):
    print(kwargs)
userdetails(Name='Ali', City = 'Lahore', Age = 23, qualification = 'graduation')

{'Name': 'Ali', 'City': 'Lahore', 'Age': 23, 'qualification': 'graduation'}

In [48]:
def userdetails(**kwargs):
    for key, value in kwargs.items():
        print(key, ':', value)
       
userdetails(Name='Ali', City = 'Lahore', Age = 23, qualification = 'graduation')

Name : Ali
City : Lahore
Age : 23
qualification : graduation

In [54]:
def userdetails(License_no, *args, phone_no = 0, **kwargs):
    print("License Number: ", License_no)
    j = ""
    for i in args:
        j = j+i
        print("Full Name: ", j)
    print("phone number: ", phone_no)
    for key, value in kwargs.items():
        print(key, ":", value)

In [57]:
Name = "Sarah khan"
details = {"Name":"Sarah", "City":"Karachi", "Age":32, "Status":"Married", "personality":"Celebarity"}
license = 'M11219920'
userdetails(license, Name, **details)

License Number:  M11219920
Full Name:  Sarah khan
phone number:  0
Name : Sarah
City : Karachi
Age : 32
Status : Married
personality : Celebarity

# Lambda Function
    A lambda function is an annoynomous function (A function without a name). 
    The lambda functions can have any number of arguments but have only one expression.
    We use lambda functions when we require a nameless function for a short period of time

In [1]:
addition = lambda a, b, c: a+b+c
addition(1,2,3)

6

In [2]:
addition = lambda a,b: a+b+2
addition(2,3)

7

In [7]:
multiply = lambda a,b: a*b

In [8]:
multiply(7,2)

14

In [9]:
addition = lambda *args: sum(args)
addition(1,2,4,67,68,123,12,16,35)

328

In [10]:
sm1 = lambda **kwargs: sum(kwargs.values())
sm1(a=2, b=3, c=1, d=2, e=10), sm1(g=12, f=123, h=100)

(18, 235)

In [14]:
def product(n):
    mul = 1
    for i in n:
        mul = mul*i
        print(mul)
    return mul

pro = lambda **kwargs: product(kwargs.values())
pro(a=12, b=12, c=1, d=2)

12
144
144
288

288

In [15]:
mx = lambda *args: max(args)
mx(1, 2, 3, 4, 6, 7)

7

In [17]:
def myfunc(n):
    return lambda a: a+n
add10 = myfunc(10)
add5 = myfunc(5)
add20 = myfunc(20)

print(add10(2))
print(add5(3))
print(add20(2))

12
8
22

In [19]:
def myfunc(n):
    return lambda a: a*n
mul1 = myfunc(1)
mul4 = myfunc(10)
mul12 = myfunc(12)

print(mul1(100))
print(mul4(4))
print(mul12(2))

100
40
24

In [21]:
def odd_list(n):
    if n%2 == 1:
        return True
    else:
        return False
odd = list(filter(odd_list, [1,2,3,4,4,5,6,7,8,7,9]))
odd

[1, 3, 5, 7, 7, 9]

In [24]:
odd_num = list(filter(lambda x: x%2==1, [1,2,3,3,4,5,7,8,9,10,12,11,13]))
odd_num

[1, 3, 3, 5, 7, 9, 11, 13]

In [28]:
def twice(n):
    return n*2
doubles = list(map(twice, odd_num))
print(doubles)

doubles1 = list(map(lambda n:n*2, odd_num))
doubles1

[2, 6, 6, 10, 14, 18, 22, 26]

[2, 6, 6, 10, 14, 18, 22, 26]

In [29]:
from functools import reduce

In [30]:
def add(a,b):
    return a+b
sum_all = reduce(add,doubles)
sum_all

104

In [31]:
sum_all = reduce(add, list(map(lambda n:n*2, list(filter(lambda x: x%2 ==1, [1,2,3,4,5,6,7,8,8,9,10,11,12,13,14])))))

In [33]:
sum_all

98

In [38]:
sum_all = reduce(lambda x, y: x+y, list(map(lambda n: n*2, list(filter(lambda n: n%2 == 0, [1,2,3,4,5,6,7,8,9,10,11,12,13,14])))))
sum_all

112

In [39]:
sum_all = reduce(lambda x, y: x+y, list(map(lambda n: n+2, list(filter(lambda n: n%2 == 0, [1,2,3,3,4,5,6,6,7,8])))))
sum_all

36

In [41]:
list1 = [1,2,3,4,5,6,7,8,9,10]

print(list1)
even = list(filter(lambda x: x%2 == 0, list1))
odd = list(filter(lambda x: x%2 == 1, list1))

print("even: ", even)
print("odd: ", odd)

list2 = ['one', 'two', 'Two', 'ONE', 'THREE']
upp = list(filter(lambda x: x.isupper(), list2))
low = list(filter(lambda x: x.islower(), list2))
print(upp)
print(low)

list3 = ['one', 'two', 'three', 'thre2', 2, 3, 'five5']
alpha = list(filter(lambda x:x.isalpha(), list3))
numeric = list(filter(lambda x:x.isnumeric(), list3))
alphnumeric = list(filter(lambda x:x.isalnumeric(), list3))

print(alpha)
print(numeric)
print(alphanumeric)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even:  [2, 4, 6, 8, 10]
odd:  [1, 3, 5, 7, 9]
['ONE', 'THREE']
['one', 'two']

AttributeError: 'int' object has no attribute 'isalpha'

In [43]:
min_num = reduce(lambda x, y: x if x<y else y, [1,2,3,65,0])
min_num

0

In [44]:
max_num = reduce(lambda x, y: x if x>y else y, [1,2,3,4,10,2,12])

In [45]:
max_num

12